body, h1, h2, h3, h4, p, ul, ol, li {
	margin: 0;
	font-family: "Helvetica";
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}

h1 {
	font-size: 80px;
	margin-bottom: 8px;
}

h3 {
	font-size: 60px;
	margin-bottom: 30px;
}

b {
	font-size: 18px;
	margin-bottom: 16px;
}